<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.DBMS.www.Assignment3.Servlets.Controllers.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.DBMS.www.Assignment3.Servlets.Controllers.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoursesKeyword</servlet-name>
        <servlet-class>com.DBMS.www.Assignment3.Servlets.Controllers.CoursesKeyword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Failures</servlet-name>
        <servlet-class>com.DBMS.www.Assignment3.Servlets.Controllers.Failures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dropdown</servlet-name>
        <servlet-class>com.DBMS.www.Assignment3.Servlets.Controllers.Dropdown</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursesKeyword</servlet-name>
        <url-pattern>/CoursesKeyword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Failures</servlet-name>
        <url-pattern>/Failures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dropdown</servlet-name>
        <url-pattern>/Dropdown</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
